<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="default" connectionString="Data Source=192.168.0.97;Initial Catalog=static;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="salesorder" connectionString="Data Source=192.168.0.97;Initial Catalog=salesorder;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="gladis" connectionString="Data Source=192.168.0.97;Initial Catalog=gladis;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="custom" connectionString="Data Source={0};Initial Catalog={1};User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="customAll" connectionString="Data Source={0};Initial Catalog={1};User ID={2};Password={3};Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="purchaseprice" connectionString="Data Source=192.168.0.83;Initial Catalog=BI_DM;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="purchaseorder" connectionString="Data Source=192.168.0.97;Initial Catalog=gladisSDK;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="sfeed" connectionString="Data Source=192.168.0.80;Initial Catalog=SFEED;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>      
      <netTcpBinding>
        <binding name="tcpBinding" openTimeout="00:00:30" closeTimeout="00:00:30" receiveTimeout="00:00:50"
                sendTimeout="00:00:50" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <reliableSession enabled="true"/>
          <security mode="None" />
          <readerQuotas maxStringContentLength="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
     
    </bindings>
    <client>
      <endpoint name="AdenPayClientService" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="Aden.Model.Interface.IWcfAdenPay" />                                                                                                                
    </client>
    
  </system.serviceModel>
</configuration>